/*	GLOBAL
---------------------------------------------------------------- */
body{ margin:0; padding:0; background-color:#313131; font-family:Arial, Helvetica, sans-serif; min-width: 600px;}
form, table, input, img { padding:0px; margin:0px; } /* IE adds unnecessary padding */
a {text-decoration: none;}
a:hover {text-decoration: underline;}
#skip_content {position:absolute; top:-2000px; left:-2000px;} /* Accessibility */
#center_wrapper {width:100%; float:left;} /* needed for ffox */

/*	HEADER 
---------------------------------------------------------------- */
#header {float:left; width:100%; background-color:#000E2F; background-repeat: no-repeat; background-position: 192px 0; background-image:url(../images/banner.png); height: 60px;}  
#head_uconn {background:url(http://web2.uconn.edu/webtools/global/images/logo_blue.gif) no-repeat; float:left;}
#head_site {background-color:transparent;} /* ie5.5 */
#head_site a {height:60px;}
#head_uconn a, #head_site a, #top_line a {text-decoration:none; height:78px; display:block; text-indent:-5000px; }
#head_uconn a {width:192px;}
#head_site a#top_line {height:0;}
#head_site a#top_link {height:0px;}

/*	NAVIGATION - TOP 
---------------------------------------------------------------- */
#nav_top {background-color:#08588c; border:0; border-top: 1px solid #076093; border-left:0; border-right:0; float:left; width:70%; padding-left: 15%; padding-right: 15%;}
#nav_top ul, #nav_top li {margin:0; padding:0; list-style-type:none; float:left;}
#nav_top a {font-size:.65em; display:block; text-transform:uppercase; letter-spacing:1px; text-decoration:none; padding:7px 10px; color:#ffffff; border: 0; border-top:0; border-bottom:0;}
#nav_top a:hover {background-color:#004570; color: #ffffff;}
/* jump menu */
#jumpmenu { float:right; margin-right:2px; }
#jumpmenu select, #jumpmenu input{font-size:.65em; }
/* go button */
#jumpmenu input {font-weight:bold; background-color:#606E7F; color:#ffffff; padding:1px; border:1px solid #9DA8BA; border-bottom-color:#393E47; border-left-color:#393E47; }

/*	CONTENT
---------------------------------------------------------------- */
#content {background-color:#fafafa; padding:25px; padding-left: 15%; padding-top:0%; font-size:.78em;}
#contentbox {background-color: #ffffff; border-bottom: 1px solid #eeeeee; border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee; padding: 1%; display: inline-block; min-width: 50%; min-height: 50vh;}
/* Typography */
	#content p { margin:0px; padding:5px 0px 5px 0px; }
	#content h1 { font-family:"Arial", Helvetica, sans-serif; font-size: 2em; margin-bottom: 8px; margin-top: 0px; }
	#content h2 { font-size: 1.2em; margin-bottom: 5px; margin-top: 0px; } 
	#content h3 { font-size: 1.2em; margin-bottom: 8px; margin-top: 0px; }
	#content h4 { font-size: 1em; padding: 3px 0px 3px 5px; margin:0 inherit; }
	#content h5 { font-size: 1em; padding: 4px 0px 4px 5px;  margin:0 inherit; }
	#content h6 { font-size: 1em; padding: 3px 0px 3px 5px; margin:0 inherit; border: 1px solid #606E7F; }
/* Links */
	#content a:link, #content a:visited{ color:#388ac3; font-weight:bold; }

/*	TABLES
---------------------------------------------------------------- */
/* default */
	#content table, #content th, #content td {font-family:inherit; font-size: inherit; color:#000000;}
	#content table tbody a:link, #content table tbody a:visited { color:#388ac3; text-decoration:none; }
	#content table tbody a:hover { color:#276088; text-decoration:underline; }
/* whiteBox*/
	table.table_whiteBox { background-color:#FFFFFF; border:1px solid #606E7F; }
	table.table_whiteBox th { background-color:#606E7F; color:#FFFFFF; text-align:left; font-weight:bold; padding:5px; }
	table.table_whiteBox li { list-style-image:url(http://web2.uconn.edu/webtools/global/images/arrow.gif); margin-bottom:10px; }
	table.table_whiteBox td { padding:5px; text-align:left }
/* whiteBox2 */
	table.table_whiteBox2 { background-color:#FFFFFF; }
	table.table_whiteBox2 td { text-align: left; }
	table.table_whiteBox2 thead td { background-color:#606E7F; color:#FFFFFF; font-weight:bold; padding:5px; padding-right:20px; }
	table.table_whiteBox2 tfoot td { background-color:#869AB3; color:#FFFFFF; font-weight:bold; padding:5px; padding-left:20px; padding-right:20px; }
	table.table_whiteBox2 tbody td { line-height: 2.2em;  padding-left:20px; padding-right:20px;}
	table.table_whiteBox2 tbody tr.highlighted { background-color:#E7EBEE; }
/* topBorder */
	table.table_topBorder td {padding:4px; color:#333333;}
	table.table_topBorder {border-collapse: collapse;}
	table.table_topBorder th {padding:4px; color:#000000; font-weight:bold; text-align:left;}
/* fullBorder */
	table.table_fullBorder td {border-bottom:1px solid #cccccc; padding:4px; color:#333333; background-color:#f4f3f3; display:block; margin-bottom:10px;}
	table.table_fullBorder td+td {border-left:0px;}
	table.table_fullBorder th {text-align: left; font-weight:bold;	color:#000000;}
/* noBorder */
	table.table_noBorder {border-collapse: collapse;}	
	table.table_noBorder td{padding:4px;color:#333333;}

/*	LINK BOXES
---------------------------------------------------------------- */
.css_linkBox, .table_linkBox {background-color:#FFFFFF; border:1px solid #003399; float:right; clear:both; margin:0 0 15px 15px;}
#content div.css_linkBox h4, #content table.table_linkBox th  {background-color:#003399; border:0; margin:0;}
.css_linkBox li, .table_linkBox li {margin:5px 0;}
.css_linkBox ul, .table_linkBox ul {margin:0; padding:10px 25px; float:left; list-style-type:square;  color:#999999;}

.table_linkBox {float:none; clear:inherit;}
.table_linkBox ul {float:none;}
#content .table_linkBox th { text-align:left; color:#FFFFFF; padding:3px;}
#content table.table_linkBox a:link, #content table.table_linkBox a:visited { color:#235698; text-decoration:underline; }
#content table.table_linkBox a:hover { color:#669900;}

/*	FOOTER
---------------------------------------------------------------- */
/* holy grail - http://alistapart.com/articles/holygrail */
#footer {color:#cccccc; font-size: 12px; border-top:2px solid #ffffff; clear:both;}
#footer a {color: #ffffff; text-decoration:none;}
#footer a:hover{text-decoration:underline; }

/* REGISTER CARDS
------------------------------------------------------------------*/
@-webkit-keyframes bounce
{
    20%
    {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }
    40%
    {
        -webkit-transform: scale(1);
       transform: scale(1);
    } 
    100%
    {
        -webkit-transform: scale(1.1);
       transform: scale(1.1);
    } 
}
@keyframes bounce
{
    20%
    {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }
    40%
    {
        -webkit-transform: scale(1);
       transform: scale(1);
    }
    100%
    {
        -webkit-transform: scale(1.1);
       transform: scale(1.1);
    } 
}
.regcard {padding:13%; background-color:#f4f3f3; height:160px; margin-top:5%; width:90px;}
.regcard:hover {background:#cccccc; transition:all 0.3s ease; box-shadow: 0 0 0 5px #00aaf4; cursor:pointer;}
.regcardicon {width:110px; left:-10px; top:-10px; position:relative;}
.regcard:hover > .regcardicon {-webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); transition:all 0.3s ease; -webkit-animation: bounce 0.3s ease; animation: bounce 0.3s ease; -webkit-animation-iteration-count: 1; animation-iteration-count: 1;}

/* SMALL SCREENS
------------------------------------------------------------------*/
@media screen and (max-width: 800px) {
    #content {padding-left: 5%;}
}

/*LOGIN BOX
------------------------------------------------------------------*/
.loginButton {border-radius: 4px; background-color: #000033; border: none; color: white; padding: 3px 8px; text-align: center; display: inline-block; cursor:pointer;}
.loginHelp {font-size:smaller; font-style: italic; color:#d9d9d9;}
.loginAlert {font-size:smaller; font-style: italic; color:#000033;}

/*FORMS
------------------------------------------------------------------*/
.formReminder{font-size:smaller; font-style: italic; line-height: 10px;}
.formItem{line-height: 12px; padding-bottom: 10px;}
.registerAgreement{line-height:12px;}
.registerSubmitButton{border-radius: 4px; background-color: #000033; border: none; color: white; padding: 3px 8px; text-align: center; display: inline-block; cursor:pointer;}

/*TIMECARD
------------------------------------------------------------------*/
.timeTable{border-collapse:collapse;}
table.timeTable td{border-right:1px solid black; border-left:1px solid black; text-align: center; padding:5px;}
.timePM{background-color:#cccccc;}

/*HOLDOVER
------------------------------------------------------------------*/
#footer .column {position: relative; float: left;}
#foot_center {width: 100%; padding:15px 0;}
#foot_center a {margin: 0px 0px 0px 0px;}
#foot_left {padding:15px 0 10px 10px; width: 190px; /* LC width */ right: 250px; /* LC width */ margin-left: -100%;}
#foot_right {padding:15px 10px 10px 0; width:190px; /* RC width */ margin-right: -250px; /* RC width */}
/*** IE6 Fix ***/
* html #foot_left {left: 190px; /* RC width */}
#findButton { font:95% bold Verdana, Arial, Helvetica, sans-serif; text-align:center; background-color: #606E7F; color:#ffffff; padding:2px; text-transform:uppercase; letter-spacing:1px; border: 1px solid #999999; }
#searchBox{ border:1px solid #FFF; height: 19px; color: #000066; background: #cccccc url(http://web2.uconn.edu/webtools/global/images/google.jpg) no-repeat -25px top; width:170px; margin-top:8px;}